<!DOCTYPE html>
<html>

<head>
  <title>Activités pour tous</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="./tran-logo-02.svg">
  <style>
    body {
      font-size: 22px;
    }

    .word-break-initial {
      word-break: initial
    }

    .corail--text {
      color: rgb(216, 44, 37)
    }

    .corail {
      background-color: rgb(216, 44, 37) !important;
    }

    .corail--border {
      border-color: rgb(216, 44, 37);
    }

    .fs- {
      font-size: 40px;
    }
  </style>
</head>

<body>
  <div id="app">
    <v-app>
      <v-app-bar app class="corail" :height="$vuetify.breakpoint.smAndDown ? '60' : '80'">

        <v-toolbar-title class="font-weight-black white--text headline">
          <v-avatar class="grey lighten-4">
            <v-img class="white--text" src="tran-logo-02.svg" alt="Logo activités pour tous" />
          </v-avatar>
          Activités pour tous
        </v-toolbar-title>

        <v-spacer></v-spacer>
        <v-btn color="white" @click="$vuetify.goTo('#contact')" outlined large>
          <span class="white--text text--darken-1 font-weight-bold">
            Contact
          </span>
        </v-btn>
      </v-app-bar>

      <v-main>
        <section id="hero">
          <v-row no-gutters>
            <v-img :min-height="'calc(100vh - ' + $vuetify.application.top + 'px)'" src="./cours-au-parc.jpg">
              <v-theme-provider dark>
                <v-overlay absolute opacity="0.67" :value=true>
                  <v-container fill-height>
                    <v-row align="center" class="white--text mx-auto" justify="center">
                      <v-col class="white--text text-center" cols="12" tag="h1">
                        <span class="font-weight-light fs-">
                          BESOIN DE MOTIVATION POUR ATTEINDRE VOS OBJECTIFS ?
                        </span>

                        <br>

                        <span class="font-weight-black fs-">
                          LES ACTIVITES PHYSIQUES POUR TOUS VOUS Y AIDERONT
                        </span>

                      </v-col>
                      <v-col cols="12">
                        <p class="font-weight-light text-center">
                          De nombreux séniors adoptent un mode de vie sédentaire du fait de la baisse de leurs
                          capacités physiques.
                          Souvent des exercices physiques et sportives proposées ne leur conviennent plus.
                          C'est pourquoi je vous propose des séances de gym douce adaptées aux besoins, goût et
                          capacités
                          physiques
                          de chacun. </p>
                      </v-col>

                      <v-btn class="align-self-end" fab outlined @click="$vuetify.goTo('#contenu-activites')">
                        <v-icon>mdi-chevron-double-down</v-icon>
                      </v-btn>
                    </v-row>
                  </v-container>
                </v-overlay>
              </v-theme-provider>
            </v-img>
          </v-row>
        </section>

        <section id="contenu-activites">
          <div class="py-6"></div>

          <v-container class="text-center">

            <v-responsive class="mx-auto title mb-8" max-width="900">
              <p>Ces activités physiques permettent de&nbsp;:
                <br>
                MAINTENIR SON AUTONOMIE
                <br>
                GARDER SON POTENTIEL PHYSIQUE (force musculaire, souplesse et articulation)
                <br>
                STIMULER SA MÉMOIRE
                <br>
                PRÉVENIR DES CHUTES
                <br>
                AMELIORER LA CONFIANCE EN SOI
                <br>
                ENTRETENIR LES GESTES DE LA VIE QUOTIDIENNE
                <br>
                "Activités physiques régulières diversifiées et adaptées à chacun"
              </p>

              Gym douce (mouvements lents)
              <br>-<br> Exercices adaptés au vieillissement
              <br>-<br> Travail sur l'équilibre, la coordination et la posture
              <br>-<br> Entretien musculaire doux
              <br>-<br> Prévention des chutes
              <br>-<br> Stimulation cognitive
              <br>-<br> Que vous soyez sportif, débutant ou non vous pouvez le faire !
              <br>-<br>
              Échauffement, mobilisation des articulations
              <br>-<br>
              Renforcement musculaire progressif avec ou sans matériel (cuisses-abdo-fessiers, gainage)
              <br>-<br>
              Travail d’équilibre, de coordination et de mémoire
              <br>-<br>
              Cardio adapté en fonction de votre niveau
              <br>-<br>
              Étirement, souplesse, respiration, détente, relaxation, méditation, libération de stress et bien-être.
            </v-responsive>

            <v-btn class="corail--border" @click="$vuetify.goTo('#contact')" outlined large>
              <span class="corail--text text--darken-1 font-weight-bold">
                Contact
              </span>
            </v-btn>
          </v-container>

          <div class="py-6"></div>
        </section>

        <section id="bienfaits-1" class="grey lighten-3">
          <div class="py-6"></div>

          <v-container class="text-center">
            <h2 class="font-weight-bold mb-3 fs-">
              AVANTAGES ET BIENFAITS
            </h2>

            <v-responsive class="mx-auto mb-6" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <v-row>
              <v-col v-for="({ icon, title, text }, i) in features" :key="i" class="h-full" cols="12" md="4">
                <v-card class="py-6 px-4" color="grey lighten-5" flat>
                  <v-theme-provider dark>
                    <div>
                      <v-avatar color="red lighten-2" size="88">
                        <v-icon large v-text="icon"></v-icon>
                      </v-avatar>
                    </div>
                  </v-theme-provider>

                  <v-card-title
                    class="justify-center font-weight-black text-uppercase text-subtitle-1 word-break-initial"
                    v-text="title">
                  </v-card-title>

                  <v-card-text class="subtitle-1" v-html="text"></v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-container>

          <div class="py-6"></div>
        </section>

        <section id="bienfaits-2">
          <div class="py-6"></div>
          <v-container>
            <v-row>
              <v-col>
                Ses bienfaits sont perceptibles dans plusieurs sphères:
                <v-expansion-panels class="my-2">
                  <v-expansion-panel v-for="(item, index) in bienfaits2" :key="'bienfait2-'+index">
                    <v-expansion-panel-header>
                      <h3>{{ item.title }}</h3>
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                      <ul>
                        <li v-for="(li, i) in item.lis" :key="'li' + i">
                          {{ li }}
                        </li>
                      </ul>
                    </v-expansion-panel-content>
                  </v-expansion-panel>
                </v-expansion-panels>
                <p class="font-italic">Une pratique régulière à raison de 3 à 4 fois est conseillée pour avoir les
                  effets souhaitables. La
                  pratique n'est pas à
                  limiter selon l'âge mais à adapter.</p>
              </v-col>
            </v-row>
          </v-container>

          <div class="py-6"></div>
        </section>

        <section id="stats">
          <v-parallax :height="$vuetify.breakpoint.smAndDown ? 700 : 500" src="./cours-en-foret.jpg">
            <v-overlay absolute class="d-flex flex-column align-stretch justify-center" :value=true>
              <v-container fill-height>
                <v-row class="mx-auto text-center">
                  <div class="mx-auto text-center" :class="[$vuetify.breakpoint.smAndDown ? 'display-1': 'display-3']">
                    COURS
                    INDIVIDUEL OU EN
                    GROUPE,<br>EN INTERIEUR OU EN EXTERIEUR
                  </div>
                </v-row>
              </v-container>
            </v-overlay>
          </v-parallax>
        </section>

        <section id="cours-en-images">
          <div class="py-6"></div>

          <v-container>
            <h2 class="font-weight-bold mb-3 text-uppercase text-center"
              :class="[$vuetify.breakpoint.smAndDown ? 'display-1': 'display-3']">Cours en images</h2>

            <v-responsive class="mx-auto mb-6" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>

            <v-row>
              <v-col v-for="({ src, alt, title }, i) in articles" :key="i" cols="12" md="4">
                <v-img :src="src" :alt="alt" :title="title" class="mb-4" height="275" max-width="100%"></v-img>

                <h3 class="font-weight-black mb-4 text-center text-uppercase" v-text="title"></h3>
              </v-col>
            </v-row>
          </v-container>

          <div class="py-6"></div>
        </section>

        <v-sheet id="contact" color="#333333" dark tag="section" tile>
          <div class="py-6"></div>

          <v-container>
            <h2 class="font-weight-bold mb-3 text-uppercase text-center"
              :class="[$vuetify.breakpoint.smAndDown ? 'display-1': 'display-3']">Contactez Thi Chap</h2>

            <v-responsive class="mx-auto mb-12" width="56">
              <v-divider class="mb-1"></v-divider>

              <v-divider></v-divider>
            </v-responsive>
            <h3 class="font-weight-bold mb-3 text-uppercase text-center">Éducatrice Sportive diplômée d’état
              fitness et APT (Activités Physiques pour Tous)</h3>

            <v-theme-provider light>
              <v-row justiy=center>
                <v-col class="font-weight-bold mb-3 text-center text-h5" cols=12>
                  <div>06 52 59 18 49</div>
                  <a href="mailto:thichaptran@gmail.com">thichaptran@gmail.com</a>
                </v-col>
              </v-row>
            </v-theme-provider>
          </v-container>

          <div class="py-6"></div>
        </v-sheet>
      </v-main>

      <v-footer class="justify-center" color="#292929" height="100">
        <div class="title font-weight-light grey--text text--lighten-1 text-center">
          Made with 💜 by Tony DUONG
        </div>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data() {
        return {
          articles: [
            {
              src: './entrainement-football.jpg',
              title: 'entraînement de football',
              alt: 'entraînement de football',
            },
            {
              src: './cours-sur-plage.jpg',
              title: 'Sur la plage',
              alt: 'Sur la plage',
            },
            {
              src: './cours-en-interieur.jpg',
              title: 'En intérieur',
              alt: 'En intérieur',
            },
          ],
          features: [
            {
              icon: 'mdi-heart-pulse',
              title: 'Votre santé dépend de vous',
              text: 'PRENEZ VOTRE SANTE EN MAIN EN BENEFICIANT DES BIENTFAITS DE L’ACTIVITE PHYSIQUE ET EN DECOUVRANT <br>VOS CAPACITES SPORTIVES.',
            },
            {
              icon: 'mdi-update',
              title: 'Votre cours est adapté',
              text: 'GYM D’ENTRETIEN POUR MAINTENIR VOTRE FORME ET VOTRE CONDITION PHYSIQUE BASEE SUR <br>UN PROGRAMME PERSONNALISE ET ADAPTE.',
            },
            {
              icon: 'mdi-car-side',
              title: 'Votre coach se déplace chez vous',
              text: 'VOTRE COACH SPORTIF DIPLÔMEE D’ETAT SE DEPLACE CHEZ VOUS ET VOUS PROPOSE DIFFERENTES PRESTATIONS DE SERVICES PERSONNALISEES SELON VOS OBJECTIFS.',
            },
          ],
          bienfaits2: [
            {
              title: 'BIENFAITS DU SPORT SUR SA SANTÉ',
              lis: [
                "Diminue le risque des maladies cardio-vasculaires et le risque d'hypertension artérielle",
                "Améliore l'endurance de votre organisme, augmente votre résistance et votre souplesse,",
                "Garde des os solides et prévient ainsi l’ostéoporose,",
                "Prévient les lombalgies et la récurrence des symptômes,",
                "Bénéfique pour les rhumatismes inflammatoires chroniques,",
                "Permet de garder des fonctions immunitaires efficaces.",
              ]
            },
            {
              title: 'BIENFAITS POUR LA PEAU',
              lis: [
                "À adopter sans tarder si vous souhaitez conserver l'élasticité de votre peau. Une véritable cure de jouvence !",
              ]
            },
            {
              title: 'BIENFAITS POUR LE CERVEAU',
              lis: [
                "Dans la maladie d'Alzheimer, elle joue aussi un rôle auprès des malades qui voient leur taux de mortalité et leur risque de chutes diminuer.",
              ]
            },
            {
              title: 'BIENFAITS SUR LE MENTAL',
              lis: [
                "L'activité physique a également des conséquences positives d'ordre psychologique, elle atténue ainsi le syndrome dépressif et les anxiétés,",
                "Le sommeil est favorisé sauf si la pratique sportive a lieu le soir, dans ce cas elle est alors stimulante,",
                "Effets sur la bonne humeur grâce à l'endorphine libérée pendant l’activité physique favorisant plaisir et euphorie,",
                "Enfant, le sport influe sur l'état de santé en ralentissant par exemple l'évolution des facteurs de risque responsables des maladies chroniques. Durant l'adolescence, il permet d'avoir une meilleure estime de soi, une réduction du stress (dû à production d’hormones appelées endorphines) et de l’anxiété."
              ]
            },
          ],
        }
      }
    })
  </script>
</body>

</html>